[2021-03-08 18:48] colleenskemp opened #1 "Improve the look and feel of the advanced control drawer"

[2021-03-11 23:16] chadfrisch opened #2 "Use Statistical Correction should be on by default"
<img width="612" alt="Screen Shot 2021-03-11 at 17 11 26" src="https://user-images.githubusercontent.com/45612270/110867934-41bf7c80-828d-11eb-89d8-796197840aae.png">

[2021-06-07 13:43] #1 closed

[2021-06-07 14:04] eethann opened #3 "Test Issue"
Quick test of labels

[2021-06-07 14:09] #3 closed

[2021-06-07 14:43] eethann opened #4 "Quick issue test"
test

[2021-06-07 15:09] colleenskemp opened #5 "As a user, I can upload a custom VMA"

[2021-06-07 15:18] colleenskemp opened #6 "As a user, I can update a new TAM (market source)"
Researchers should be able to upload a new TAM source.

Wireframe is needed to clarify the UX for this workflow.

[2021-06-07 15:30] colleenskemp opened #7 "As a user, I can upload a new adoption source"

[2021-06-07 15:30] colleenskemp opened #8 "As a user, I can see numeric results of calculation outputs"

[2021-06-07 15:33] colleenskemp opened #9 "As a researcher, I can change the values for the conventional baseline"

[2021-06-07 15:35] colleenskemp opened #10 "As a user, I can browse a resource table listing"

[2021-06-07 15:35] colleenskemp opened #11 "As a user, I can see a detailed view of resource tables"

[2021-06-07 15:37] colleenskemp opened #12 "Researcher user journey documentation"
Create user stories for the actions a researcher needs to do the make the updates they need to create a new workbook with new and custom data.

[2021-06-08 14:01] eethann opened #13 "Add code standard doc to web UI"
Document some code formatting, programming paradigm, and code organization standards. E.g. linting spec, what sorts of reducers to make, and where major files should go.

[2021-06-10 19:40] eethann opened #14 "Code Documentation for Web UI"
Initialize documentation system and commit initial documentation of existing code.

Documentation should cover:

* All components, their properties, related state objects, and usage notes.
* API methods
* Redux stores, thunks, and reducers
* Higher order components (e.g. form data bindings) and their intent and example usage
* Directory structure and code organization

It might also include develo

[2021-06-10 19:42] eethann opened #15 "Developer documentation for the Web UI"
**Time Estimate:**

Update developer docs in the web ui.

Should include

- [ ] overview of app and overall system architecture

- [ ] code standards and linter configurations

- [ ] process for forking and making pull requests

- [ ] summary of code organization and structure

[]community standards (code of conduct, etc.)

[2021-06-10 19:43] eethann commented on #14
documentation.js is probably the slickest and quickest approach, using jsdoc with sensible default configuration and optional custom md doc files in the nav

styleguidist is a nice alternative to storybook and great for documenting components, but does not seem to easily include non-component code (except as md)

[2021-06-10 19:49] eethann commented on #14
https://react-styleguidist.js.org/docs/getting-started

[2021-06-10 19:51] eethann commented on #15
Nice examples from mapbox gl lib: https://github.com/mapbox/mapbox-gl-js/blob/main/CONTRIBUTING.md

[2021-06-13 22:17] colleenskemp opened #16 "Update code standards for Web UI"
This relates to issue https://github.com/ProjectDrawdown/global-research-platform-web-ui/issues/15

Document some code formatting, programming paradigm, and code organization standards. E.g. linting spec, what sorts of reducers to make, and where major files should go.

(subtask of above-mentioned issue)

Checklist of what should be included in code standard:
- [ ] Naming Conventions
- [ ] File an

[2021-06-13 22:48] colleenskemp commented on #13
This is a duplicate of issue https://github.com/ProjectDrawdown/global-research-platform-web-ui/issues/16
content copied over and closing this issue.

[2021-06-13 22:49] #13 closed

[2021-06-14 00:09] colleenskemp commented on #8
@eethann - I'm not clear what this means. Can you help me flush out this ticket?

[2021-06-14 02:25] colleenskemp opened #17 "Update default workbooks to PDS-1, PDS-2, PDS-3"
**Time Estimate:** 1 hour

Problem: We are not displaying the up to date terminology for Drawdown featured workbooks.

Description/ Background:
We need to update the Drawdown Featured workbooks to PDS-1, PDS-2, and PDS-3.

The names track as follows:
PDS-1 = Plausible
PDS-2 = Drawdown
PDS-3 = Optimum

Acceptance criteria:
As a user, when I view the default workbooks, I should see the names as abov

[2021-06-14 02:32] colleenskemp opened #18 "Solution dashboard bottom visualization"
Time Estimate:

Problem: User is still unable to see bottom footer visualization as designed.

Description:

<img width="527" alt="Screen Shot 2021-02-16 at 9 30 18 PM" src="https://user-images.githubusercontent.com/20732309/121832187-1c2c7f80-cc8f-11eb-9b64-587f599db960.png">

See Design here: https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI-Figma-Chakra-UI?node-id=1550%3A2

[2021-06-14 02:48] colleenskemp opened #19 "UI - Lifetime savings card - solution card dashboard"
**Time Estimate:** 4 hours

Problem/ Need:
Lifetime savings chart must show accurate data and the display should reflect design.

Steps to replicate:
- Create workbook
- View biogas solution

Acceptance criteria:
As a user, I can see the lifetime savings graph and data update after I press the run button.

Design link: https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI-Figma-C

[2021-06-14 02:55] colleenskemp opened #20 "Workbook Detail cards display accurate "last updated" data"
Problem:
Currently, workbook detail cards display April 2021 as last updated date, even for workbooks created in June.

Acceptance criteria: "last updated" element of workbook detail cards displays accurate data/ correct month for last update.

[2021-06-14 03:17] colleenskemp opened #21 "Loader appears centered on page"
Time Estimate:

Problem: Currently the loading icon is appearing at the bottom of the page. This looks odd.

Acceptance criteria:
Loading icon should appear in the center of the page or in the top 1/3 of page.

Link to associated JIRA ticket: https://colabcoop.atlassian.net/browse/PDD-370

[2021-06-14 03:25] colleenskemp opened #22 "Use consistent header throughout: Workbook and logout options available throughout UX"
Time Estimate: 1.5 hours

Problem: I cannot access "workbooks" or "logout" from workbook overview pages (featured and mine). This leads to UX issues where I am unable to get back to other workbooks. Current Workbook Header replaces standard page header and does not include navigation.

Acceptance criteria: As a user, i see a consistent header throughout by which I am able to access the /workbooks

[2021-06-14 03:34] colleenskemp opened #23 "As a user, I can see dashboard visualization elements defined on roll-over"
Time Estimate:

Problem: Currently, as a user, I'm not sure what all the visualizations on my solution dashboard mean.

Acceptance criteria:
As a user, when I roll-over a visualization such as TAM, Adoption, or Market capture, the elements (lines, colors) are defined. For example, When I roll-over the dotted line in the TAM visualization, "reference source" displays.

[2021-06-14 03:58] colleenskemp opened #24 "For featured workbooks, disable all inputs and display prompt to clone canonical user workbooks"
Time Estimate: 4 hour

Problem: As a user, when I land on a Drawdown featured workbook, it is not clear to me that I can not edit the solution.

Description of need:

As a user, if I select a featured workbook (such as PDS-1, PDS-2, or PDS-3) I am brought to a view of the solution set which notifies me that I cannot change the existing workbook, but will clone and build off of copy.

Acceptance cr

[2021-06-14 12:38] colleenskemp opened #25 "As a user, I can see solutions not included in my portfolio with opacity in sector level nav drawer"
Problem:
it is now only showing the "my profile" items on the sector technology nav for Electricity Generation. Users are unable to see technologies which they are not focused on, but are still impacting their workbooks. Enabling users to see these with opacity gives them a fuller picture.

Description/ solution:
Desired state should show my profile items at the top and all others below. Technolog

[2021-06-14 12:59] colleenskemp opened #26 "Work book header is overlapping on some screen sizes"
Time Estimate: 2 hours

Problem: Overlapping header and project details for some screen sizes. Tested on (2560 x 1600) size screen. (13 inch mac).

Description:
<img width="1280" alt="Screen Shot 2021-06-14 at 7 59 48 AM" src="https://user-images.githubusercontent.com/20732309/121896110-8de3e800-cce6-11eb-973f-485ec13bf346.png">

Acceptance Criteria:
There should be no overlapping text in header o

[2021-06-14 13:44] colleenskemp opened #27 "Adoption advanced controls dropdown not working/ not sending API call"
Time estimate:

Problem:
As a user, when I select the advanced control drawer button, I see the calculation buttons spin, but the drawer fails to open. This is limited to SOME not all solutions. GEOTHERMAL POWER is one of the solutions NOT working.

Acceptance criteria: Users must be able to click the button for adoption advanced controls and have drawer open as expected.

[2021-06-14 13:51] colleenskemp opened #28 "As a user, I experience a product tour upon first viewing of a page"
Time estimate: 4 hours

Description:
User is taken through a web tutorial

[2021-06-14 13:52] colleenskemp opened #29 "As a user, I can see in app tool tips"

[2021-06-14 13:59] #19 closed

[2021-06-14 14:25] eethann commented on #8
Please follow the same history API / path convention as used for other drawers, or modals. E.g. make sure there's a #hash path component that corresponds to the data view's being open / closed.

[2021-06-14 14:28] colleenskemp commented on #2
More discussion needed on this ticket

[2021-06-14 14:49] colleenskemp commented on #25
@litenull - Will you please review this item with @Chukslord1. Thinking it may be a good one to pass to him. Please add time estimate. Thank you!

[2021-06-14 14:50] colleenskemp commented on #26
@Chukslord1 - Please add time estimate for this ticket after you've had a chance to look at it with @litenull

[2021-06-14 14:51] colleenskemp commented on #23
@litenull - Do you need direction/ help with this ticket?
Will you please add estimate when able?

[2021-06-15 22:21] brodavi commented on #17
PR https://github.com/ProjectDrawdown/solutions/pull/245 merged into develop

[2021-06-15 22:48] brodavi commented on #21
@eethann sorry I didn't understand the comment in Jira, can you rephrase?

[2021-06-15 23:28] brodavi commented on #20
PR here https://github.com/ProjectDrawdown/solutions/pull/247

[2021-06-17 14:51] Chukslord1 commented on #26
@colleenskemp  Time Estimate: 2 Hours

[2021-06-17 15:00] Chukslord1 commented on #22
@colleenskemp Estimated Time: 1.5 Hours

[2021-06-18 22:47] brodavi commented on #8
PR https://bitbucket.org/colabcoop-ondemand/drawdown-solutions-web-ui/pull-requests/87/as-a-user-i-can-see-numeric-results-of

[2021-06-18 22:49] brodavi commented on #8
Whoa @eethann @colleenskemp I just read your comment @eethann about path convention. I SERIOUSLY misunderstood what was needed here, I think. Hash path component? Data view's being open / closed? We need to sync up on this, I'm super-confused.

[2021-06-21 14:04] colleenskemp opened #30 "Transfer Web UI documentation in bitbucket to github"
Time estimate:

Problem: Currently the majority of our documentation related to the Web UI is still in bitbucket. We need to transfer this over to github.

bitbucket repo: https://bitbucket.org/colabcoop-ondemand/drawdown-solutions-web-ui/src/master/

Goal: Open Source developers should be able to access and collaborate on webUI code in github.

[2021-06-21 14:11] colleenskemp opened #31 "Deploy to staging should hook to github rather than bitbucket"
Need: Completing transitioning the code base from bitbucket to github repo.

Acceptance criteria: Updates to staging are hooked to github rather than bitbucket.

[2021-06-21 14:12] colleenskemp commented on #31
Has this already been completed @litenull?

[2021-06-21 20:47] brodavi commented on #21
okay PR is updated @eethann

created a LoadingSpinner component to be re-used in those 3 places, and adjusted it to use fixed positioning

[2021-06-21 20:57] colleenskemp commented on #24
Current prompt reads:
This is a featured workbook. If you'd like to change things you need to copy it.

@litenull
I suggest we update to:
"This is a Drawdown featured workbook and cannot be edited. Please copy and use it as a starting point to create your own workbook."

@eethann for second eyes on recommended language.

[2021-06-24 14:22] eethann opened #32 "Disable run button while calculation is running"
Time estimate:

Problem: Currently a user can initiate multiple simultaneous calculation requests by clicking the run button multiple times while it's spinning.

Acceptance criteria: The run button should be disabled for clicks while a calculation is running.

[2021-06-28 13:43] colleenskemp commented on #29
This issue may need additional UX.
@sutjin - Can you look at the designs we have and see if you can work with those?

[2021-06-28 13:49] colleenskemp opened #33 "As a user, I can edit details to an already created workbook."
Problem:
As a user, after I have created my workbook, I cannot edit the workbook details, "about" text as they are shown in my workbook overview heading.

Acceptance criteria:
Details as they are shown in the workbook overview heading should be editable by user.

Designs do not exist for this feature. Suggesting that an edit icon appear next to the "about" text on hove.

<img width="1221" alt="Edi

[2021-06-28 13:56] colleenskemp commented on #33
@ralphcutler - Will you look at this ticket and confirm the design suggestion or provide an alternative. I'm thinking this ticket will be good for the hackathon.

[2021-06-28 14:09] colleenskemp commented on #28
@ralphcutler - Can you consent to the suggested UX approach as seen in the issue description?

@sutjin - Can you work with this as written? Is there any other UX direction needed?

[2021-06-28 14:21] colleenskemp commented on #29
@eethann - can you please help with tool tip for base adoption.
Are there any other in-app tool tips that we should be tracking as part of this ticket?

[2021-06-28 14:35] colleenskemp opened #34 "Implement Sector Level TAM Dashboard"
Time:

Problem:
Currently, user is unable to view TAM for the entire electricity generation sector. This will be a helpful view.

Description:
See design here: https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI-Figma-Chakra-UI?node-id=1608%3A117237

Acceptance criteria: For phase 2, editing the solution adoption % takes user to adoption dashboard for that individual solution.

[2021-06-28 14:35] colleenskemp commented on #34
@eethann - Will you help clarify the requirements for this item in version 2? Please view associated JIRA ticket here: https://colabcoop.atlassian.net/browse/PDD-221

[2021-06-28 19:58] ralphcutler commented on #33
**First Option**
From Figma Design file (altered a bit)
![title-bar-edit](https://user-images.githubusercontent.com/9847479/123695195-e1465200-d81f-11eb-8251-4f2ba8fb5b35.jpg)
![title-bar-save](https://user-images.githubusercontent.com/9847479/123695198-e2777f00-d81f-11eb-8409-ba68f5728e8c.jpg)

**Notes:**

- Save button is save button xs from chakra library
- Icon from chakra ui being passed into

[2021-06-28 20:01] ralphcutler commented on #33
@colleenskemp Accidentally unassigned this. Was trying to send it back to you 😃

[2021-06-29 14:11] sutjin commented on #29
@colleenskemp just want to verify, will I be implementing all the tooltip that is in the v1 block in Figma? I built the `First Cost`, but couldnt seem to find the other two in Figma

[2021-06-29 19:33] eethann commented on #8
Okay, I think there are two different items needing clarification here:

1. the best way to display this data in a minimal fashion for debugging without too much developer overhead
2. what data needs to be displayed to keep the output reasonable from a DOM perspective

Re 1: we'd talked about adding a simple "data drawer" at one point, and I think we have code for doing that using path hash fragme

[2021-06-30 14:55] eethann commented on #29
Connected with Nabil about this on the front-end pair programming session today.

Quick summary:

1. Split the simple paragraph text tooltips from tooltips with images and the most complex case, the inline VMA chart tooltip
2. Look into using an annotation library like https://react-annotation.susielu.com/ for the latter cases
3. Feel free to make / propose alterations to the tooltip content and l

[2021-07-01 14:18] colleenskemp opened #35 "Migrate codebase to a new repo for application with 2 subfolders for API and UI"
Need: Simplify the project for open source contributor by having the App code to be in one project (UI and API) and able to run it easily by following through the documentation

Acceptance criteria:
- Migrated the UI project into a `/ui` directory
- Migrated the Solutions API code into a `/api` directory
- Root directory to have comprehensive readme on how to run the project
- Able to run all depe

[2021-07-01 14:46] litenull commented on #14
This would be the first of the README.md

## Coding guide

Brief introduction to the project.

### Files

[code]

### Prerequisites

- Node. We recommend installing via [Node Version Manager](https://github.com/nvm-sh/nvm#installing-and-updating). Run `nvm use` to install the working node version.

### Installation

1. Copy `.env.example` to `.env` and modify as needed: `cp .env.example .env` (for

[2021-07-02 18:58] colleenskemp opened #37 "Implement Comparison Spark Charts"
Problem: Current designs show a "comparison spark chart" in the advanced controls drawer. This chart shows the active input and mean for a variable input in comparison to coal, oil, and gas.

Description:

See figma designs here: https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI-Figma-Chakra-UI?node-id=1550%3A26758

<img width="573" alt="Comparison spark chart" src="https://u

[2021-07-04 10:06] sutjin commented on #35
Added code to convert Solutions repo into a library as discussed:
https://github.com/ProjectDrawdown/solutions/pull/269

initial pull request for structure:
https://github.com/ProjectDrawdown/global-research-platform/pull/36

[2021-07-06 02:14] sutjin commented on #29
https://bitbucket.org/colabcoop-ondemand/drawdown-solutions-web-ui/pull-requests/91/feature-29

[2021-07-06 11:17] sutjin commented on #35
Finalize build:
https://github.com/ProjectDrawdown/global-research-platform/pull/38

[2021-07-06 13:59] litenull commented on #14
Notes:
- Document redux using UML flow
- Add components that are theme to a specific folder

[2021-07-06 15:07] sutjin opened #39 "As a user, I can see app tool tips in the advance drawers with complex information"
Problem: as a user, I want a tooltip that can show me the functionality of the variables I intend to use.

Description:
When clicking the help icon, a tooltip should appear with the relevant information

Tooltip to appear:

__Quick Guide: Variable Input Form__
https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI---%5BFigma-Chakra-UI%5D?node-id=1550%3A26758

Note:
- Look into usi

[2021-07-07 14:32] colleenskemp opened #40 "When I edit my workbook, I see my solutions above unselected solutions shown with opacity"
Problem:
A visual distinction is needed during the editing process between solutions which have already been selected as part of my solution set and solutions which have not.

See design here: https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI-Figma-Chakra-UI?node-id=1550%3A16993

![Edit workbook](https://user-images.githubusercontent.com/20732309/124778131-5a236900-df06-11eb-

[2021-07-07 14:49] brodavi opened #41 "Run button - "click to update" state"
When a user updates a field on the dashboard, changing the emissions calculation, the old number is replaced by a "click to update" state of the run button.

![Run Button - Click to Update](https://user-images.githubusercontent.com/1271493/124781347-f3537f00-df08-11eb-8b01-2b77dfe04e8d.png)

Figma link: https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI-Figma-Chakra-UI?node-id

[2021-07-07 14:58] colleenskemp opened #42 "As a user, I can easily navigate variables from within the advanced drawer"
Problem:
As a user, when I am in the advanced drawer for a given variable (TAM for example) I have to return to the solutions dashboard in order to see the advanced drawer for another variable (finances for example).

Desire: I would like to be able to see different variable details without leaving the advanced drawer.

Details: There is no design for this. I imagine it like a hamburger menu at th

[2021-07-07 15:08] brodavi opened #43 "Load Testing"
We need to do load testing with K6.

Load testing for the `/calculate` endpoint in particular. Graph performance of 10, 50, 100 simultaneous requests.

[2021-07-07 15:18] brodavi opened #44 "Header for Workbook Overview Page"
https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI-Figma-Chakra-UI?node-id=1971%3A122156

![Solution Set Overview](https://user-images.githubusercontent.com/1271493/124785844-d325bf00-df0c-11eb-87ef-9684fdb8feb8.png)

The header should include the following elements:

    The calculated state of the run button in the top right corner

    Blue bar

    Author name

    About/

[2021-07-07 15:21] brodavi commented on #44
The calculated run button is all that is missing here.

[2021-07-07 15:24] brodavi opened #45 "UI - Implement"thumbprint" visualization on workbook overview cards"
These are visible on the /workbooks page https://stage.pdd.colab.coop/workbooks

![PortfolioBrowseCard](https://user-images.githubusercontent.com/1271493/124786909-bb026f80-df0d-11eb-9bb7-63a18e4eced8.png)

.... but instead of the treemap showing on the cards, we are going to show the circular visualization:

![Run Button - Click to Update](https://user-images.githubusercontent.com/1271493/1247868

[2021-07-07 15:30] colleenskemp opened #46 "Unselected solutions display is new row in sector level dashboard view"
Problem:
More visual distinction is needed between "my solutions" and unselected solutions in a given sector.
Unselected solutions should display in a new row and be shown with opacity.

In the current state, unselected solutions show with opacity, but in the same row.

See current state:

<img width="996" alt="Screen Shot 2021-07-07 at 10 27 41 AM" src="https://user-images.githubusercontent.com/2

[2021-07-08 15:26] eethann opened #47 "Refactor data_config.js: extract and clean up"
The current data_config.js file has a mix of configuration data, static app data, and pre-cached server data.

At the very least these should be clearly extracted from one another: config data should truly be config data, and should be in something like a config.defaults.js file, static data might go into a file like app-data.static.js or similar.

[2021-07-08 16:16] #35 closed

[2021-07-12 12:01] shrutimehta13 commented on #20
<img width="464" alt="date" src="https://user-images.githubusercontent.com/34771314/125284281-e387d080-e336-11eb-86f5-74f91c532677.png">
not yet on stage

[2021-07-12 12:02] shrutimehta13 commented on #21
resolved on stage
<img width="1384" alt="Screenshot 2021-07-12 at 5 22 39 PM" src="https://user-images.githubusercontent.com/34771314/125284410-0ade9d80-e337-11eb-805f-cfc342e730df.png">

[2021-07-12 12:45] shrutimehta13 commented on #27
@colleenskemp tested for several technologies including the ones mentioned (geothermal & solar..), Advance Adoption Control Drawer does work now
Although there seems to a UI issue with clickable area of drawer icon. At times the Run button plays when drawer icon is clicked for Advance Adoption controls (does not happen for other controls). Needs to be fixed either here or as a separate ticket.

ht

[2021-07-12 12:54] shrutimehta13 commented on #22
Workbooks and logout links are available from My Workbooks page and Workbook Overview page (both Featured and self created)
<img width="1394" alt="Screenshot 2021-07-12 at 6 21 49 PM" src="https://user-images.githubusercontent.com/34771314/125290602-200afa80-e33e-11eb-9c23-3728f311bc7e.png">

Same consistency is expected when a technology solution is being viewed @colleenskemp. Confused navigation

[2021-07-12 13:07] shrutimehta13 commented on #8
@colleenskemp unclear on closure criteria. We have drawer icons that display all values & calculations

[2021-07-14 14:38] shrutimehta13 commented on #22
Please see above comment- reassign to dev or we should create a new ticket.

[2021-07-14 14:39] shrutimehta13 commented on #27
Please see above comment, reassign to dev or a new ticket should to be created

[2021-07-14 14:40] shrutimehta13 commented on #8
Need more info

[2021-07-15 15:19] colleenskemp opened #53 "As a user, I can upload ref grid emission sources"
Is this a needed element for the resource library?

[2021-07-15 15:25] eethann commented on #5
There are a few core functionalities needed for this ticket (we might want to split them, might not):

1. The ability to upload new VMA source CSVs for each VMA from the "Source" dropdown.
2. The ability to view and select uploaded VMA CSVs once uploaded.
3. The ability to see the calculated results of an uploaded VMA CSV.

2 and 3 appear to be already implemented, but might need to be split into

[2021-07-15 15:29] eethann commented on #5
This is an old UX concept that can provide guidance for the upload feature. Other features are probably a good deal out of sync with the current implemented UX.

![pdd-discovery-draft-ui-concept](https://user-images.githubusercontent.com/7461/125814846-9a87ae62-1740-48cd-8afe-0efb362d210f.png)

[2021-07-15 15:39] eethann commented on #5
Quick notes that this ticket deals with the middle of the 3 upload columns. Primarily the "Available VMAs" screen. Instead of a button we can just add an "Upload New" option to the dropdown.

The upload modal would then have a name field as well as a file upload field. The UI would submit the file and name to the API, as well as the Variable ID with which it's associated. The Variable ID should be

[2021-07-15 15:53] eethann opened #54 "Implement API endpoint to upload resource files"
Time Estimate: 10 hours

Allow users to upload arbitrary resource files and store them in the database. Should accept both Adoption and Market projection CVSs.

Extend the `/vma_csv` endpoint concept as a model, but for `POST /resource/{entity}`.

Requirements:

- [ ] Does not currently need to pass this data to the solutions API, just accept, store, and list in future lists of that resource entit

[2021-07-15 16:08] eethann opened #56 "As a user I can see the results of calculations using uploaded Adoption and TAM data"
This is the complement to #5 and #53. Once we have an API endpoint to create new resource entities, how are those used in the calculations.

First step is to research the options for passing adoption and TAM data dynamically to the calculate functions, instead of using the data loaded from the Solutions API CSVs at init.

[2021-07-15 16:22] eethann commented on #7
Note that this should use the `/resource/{entity}` post endpoint that @sutjin is working on as part of #54.

The UI should be similar to #5 but with the fields appropriate for the entity type. Probably there should be two components: one for VMA uploads and the other for resource entities. Resource entity uploads would include Adoption, TAM, and any other resource beside VMA. (VMAs are different b

[2021-07-16 00:09] brodavi commented on #56
So in the `setup_calculations` function in `service/api/calculate.py` line 240, we're just importing an entire solution object before sending it along to be calculated at a later step. I *think* we should just be able to add our own VMA, TAM, adoption and custom adoption data at that point, similar to how we're doing advanced controls inputs. It's pretty messy, but I think it should work. I don't

[2021-07-16 00:09] brodavi commented on #56
what do you think @eethann @sutjin

[2021-07-19 13:29] sutjin commented on #54
PR Opened, but topics for open dicussion is written on the PR

https://github.com/ProjectDrawdown/global-research-platform/pull/58

[2021-07-19 16:44] eethann commented on #7
No Adoption Sources could be selected as reference or scenario, though we can confirm this with Chad.

[2021-07-19 16:44] eethann commented on #6
Yes to quick input and dashboard.

Should be scenario and reference, though can confirm that with the client today.

[2021-07-19 17:18] colleenskemp opened #59 "As a user, I can tag projections based on level of ambition"
You should be able to tag it as baseline, conservative, ambitious, 100% adoption of solutions.

How can we build toward categorization? More discovery needed here.

[2021-07-19 18:05] sutjin commented on #5
Want to add in the acceptance criteria, since we are uploading a file - an addtional UI that would indicate success/failure on upload

[2021-07-19 19:21] litenull commented on #5
Time estimate: 15 hours

[2021-07-19 19:27] litenull commented on #6
Time estimate: 7 hours

[2021-07-19 23:55] Chukslord1 commented on #28
@colleenskemp Time Estimate: 2 Hours

[2021-07-20 01:25] denised opened #60 "Code coverage badge in Readme.md and Contributing.md is incorrect"
The badge is measuring code coverage of the master branch of the solutions repo.  It should either be removed, or should accurately reflect code coverage for this repo.  (I removed it from the solutions repo docs.)

[2021-07-21 19:38] brodavi opened #63 "Remove state dependencies in components."
It is difficult to implement stories/documentation in Storybook due to state dependencies in components. Remove state dependencies in components. Create pure components and bound components. ( @litenull to explain how to do this. Also, this ticket might be best broken into one ticket per component )

[2021-07-21 19:38] eethann opened #64 "Migrate to redux-observables"
The current state updating methods use thunks. While dependable, thunks are quite verbose and repetitive, especially for optimistic updates. At some point we should start migrating to [redux-observables](https://redux-observable.js.org/). A good place to start would be the [workbookSlice.js](https://github.com/ProjectDrawdown/global-research-platform/blob/develop/web/src/redux/reducers/workbook/wo

[2021-07-21 19:40] colleenskemp opened #65 "Automatically scale conventional solutions to account for over 100% TAM scenarios"
If you take one solution and increase the adoption, and you already have 100% TAM captured (or this adjustments brings TAM over 100%), a flag should go off. An adjustment is needed elsewhere. New renewable solution adoption should take away from conventional solutions.

[2021-07-21 19:47] colleenskemp opened #66 "As a user, I can see a print view/ PDF view of a solution dashboard"
Need: Users should be able to see a print version of a specific solution from our workbook.

Example use case: I have Micro Wind Turbines included in my workbook. I can download and share the view of that solution with another researcher or policy maker.

It should look as closely as the page as is reasonable. Sidebar and nav do not need to be included. Print version should have all the advanced d

[2021-07-21 19:50] eethann opened #67 "Create template and helper functions for basic functional testing"
Initialize a functional testing framework for the app using Cypress. Will require initializing a basic configuration, setting up standard helpers for logging in, and perhaps templating a simple homepage test.

[2021-07-21 19:57] colleenskemp opened #68 "Add a form after first log in to collect user data"
Need: Start a database of users/ contributors.

There’s a PATCH /me endpoint that takes a json body with the following optional params.

{
  "name": "",
  "company": "",
  "location": "",
  "picture": ""
}

[2021-07-22 19:26] eethann commented on #45
Should not include the "reload" icon, just the starburst. The startburst should start with just the total reduction in carbon emissions for the energy sector, the orange band, if reduction for other sectors are not available. @litenull is a good person to consult about this in more detail. Until we have additional sectors implemented in the API this visualization will likely be somewhat incomplete

[2021-07-24 11:54] fbarl commented on #45
I'd like to take a stab at this issue! :slightly_smiling_face:

I noticed that the current treemap is actually a SVG image placeholder - does this mean we should be using starburst placeholders or are they supposed to show some _real_ data (albeit incomplete)?

Assuming the starbust should visualize actual data, I have a couple of questions to kick it off:

- I'm looking at GET `/workbooks` endpoi

[2021-07-24 18:32] maxohsawa commented on #68
I'll give this issue a go.

[2021-07-24 18:32] SirkisMatt commented on #33
Looking forward to tackling this feature!

[2021-07-24 18:32] janeenault commented on #46
looking forward to working on this one

[2021-07-24 18:32] bypung commented on #33
Taking a look at this for the July hackathon.

[2021-07-24 18:33] becca-tiessen commented on #68
same same! I'll give it the old college try

[2021-07-24 18:33] gyermich commented on #46
Working on this with @janeenault

[2021-07-24 21:42] gyermich commented on #40
we just opened a PR for #46, it seems to be related to this one - @janeenault  and I could take this one as well

[2021-07-25 04:05] sutjin commented on #44
https://github.com/ProjectDrawdown/global-research-platform/pull/72

[2021-07-25 09:52] andicuevasp commented on #41
Working on this issue

[2021-07-25 09:53] Chukslord1 commented on #41
Working on this issue

[2021-07-25 17:01] BrianAlderman commented on #32
Resolved here: https://github.com/ProjectDrawdown/global-research-platform/pull/74
Unable to link PR to this issue for some reason 🤷

[2021-07-25 18:50] alexlod opened #76 "Allow login via Github for non-Google users"
Today a user can only login via Google. Some users don't have Google accounts or don't want to use their Google accounts. As such, the app and API should allow logins via Github as well.

See Slack conversation for context. In particular, the API should already allow Github logins and perhaps the front-end once did but the functionality has been removed. https://globalresearchcolab.slack.com/archi

[2021-07-25 19:16] DentonGentry commented on #76
The authenticator apps from prior work are in https://github.com/organizations/ProjectDrawdown/settings/applications

[2021-07-25 20:27] becca-tiessen commented on #68
We've run into two blockers, that require a bit more python knowledge than we've got at the moment; so I'll note them here so someone can take a stab at them later!
- we're not sure how to route to this page only if it's a user's first sign in, so we've made the page but aren't directing the user there yet
- also not sure how to get the user's profile picture URL from the google token so we're abl

[2021-07-26 14:54] colleenskemp opened #78 "As a user, I can mark resources or workbooks as either public or private"
Estimate: 5 hours

Problem: Users need to be able to share the resources they contribute or workbooks they create.

Details/ acceptance criteria:
As a user, I should be able to indicate private or public when I create a workbook OR contribute to the resource library. This may be a contribution of a new adoption source, VMA, or TAM.

Additional Note:
This is the lowest level of resource sharing and

[2021-07-26 15:45] colleenskemp opened #79 "As a user, I can share resources or workbooks with specific groups"
Time estimate: Please provide time estimate here.

Need: users can choose specific groups to share resources with.

Details:
Resources may include: TAMs, VMAs, adoption sources

The UX workflow has not been defined for this.

[2021-07-26 15:51] colleenskemp opened #80 "As a user, I can belong to a group and share with my groups"
Time Estiamte:
Please clarify time estimate before pursuing work.

Description of need/ acceptance criteria:
- users can belong to groups
 -users can share share resources and workbooks either publicly, to all groups they are members of, or keep them private

UX has not been further defined for this.

[2021-07-26 16:12] colleenskemp opened #81 "As a user, when I add a new resource to the library, I can indicate whether it is a reference or PDS (scenario)"
Time estimate:

Need: Researcher needs to be able to indicate if a resource they've added to the library should be a scenario (PDS) or reference case. We need 2 categories.

Acceptance criteria: Users can indicate if added resources are scenario or reference case in the process of adding them.

[2021-07-26 16:17] colleenskemp opened #82 "As a user, I can tag resources as baseline, conservative, ambitious and 100% adoption when adding them to resource library"
Time estiamte:

Need:
users should be able to tag newly added resources as baseline, conservative, ambitious, 100% adoption of solutions at the time they add them to the resource library.

This wasn't previously discussed, but Chad seemed to see it as a must have.

@Ethan to advise

[2021-07-26 16:46] sutjin commented on #81
The PR I opened https://github.com/ProjectDrawdown/global-research-platform/pull/73 would allow to upload either scenario or reference. So the work would mainly be UI and about 1 hour to create an object validator for either `scenario` and `reference` object

[2021-07-26 16:54] shrutimehta13 commented on #26
Will work on most popular desktop sizes. Issue will start to appear at different viewports across browsers Like on
Mac Safari on < 1280px,
Mac Chrome on <1250px
Mac FF on <1290px

so, Issue will appear for eg on older MacBook 1280x800. @colleenskemp please take action. Popular desktop statistics for ref
<img width="827" alt="Screenshot 2021-07-26 at 10 17 57 PM" src="https://user-images.githubuser

[2021-07-26 17:11] shrutimehta13 opened #83 "Workbook title pushes links workbooks/logout off screen"
Steps:
1. View a workbook with long title say 80 chars
2.  observe header links

<img width="1416" alt="Screenshot 2021-07-26 at 10 33 23 PM" src="https://user-images.githubusercontent.com/34771314/127029633-213a9274-0e21-4406-8b59-6842d8e3bc26.png">
Tested on 1400px wide Mac book Pro. This issue will arise on different title lengths depending on Browser widths as design is not responsive

Observe

[2021-07-26 18:04] shrutimehta13 commented on #29
@colleenskemp tooltips implemented.  some are shown as per design/some are dummy or blank.. No way to confirm.
Pl check if the ticket can be closed and real text will be added later?

some that sure need fixes are-

<img width="1212" alt="Screenshot 2021-07-26 at 11 29 16 PM" src="https://user-images.githubusercontent.com/34771314/127036739-acff13ec-97d0-4d36-908d-117f9280e2c3.png">
<img width="61

[2021-07-26 18:23] shrutimehta13 commented on #23
@colleenskemp not fit to close ticket.  Observations below-

Only for TAM, the annotation looks meaningful as there are two dropdowns reference & source which are represented in the graph.
<img width="620" alt="Screenshot 2021-07-26 at 11 39 00 PM" src="https://user-images.githubusercontent.com/34771314/127039129-defbe6b8-3ace-4ddc-aea8-ec99dd9acb89.png">

to fix—

For Adoption (Global)- not clear

[2021-07-26 18:39] shrutimehta13 commented on #24
1. Not possible to test as the top 3 workbooks plausible-2020 , optimum-2020, drawdown-2020 are BLANK.
2. [Copy & edit] button appears to clone them but not testable due to above.
3. 'Featured'  title is missing over these workbooks
4. Edit Portfolio is wrongly enabled and it appears technology can be selected but does not get saved

<img width="1440" alt="Screenshot 2021-07-27 at 12 00 11 AM" src

[2021-07-27 00:25] #54 closed

[2021-07-27 09:46] sutjin commented on #56
Notes after discussion:
* Data will stay inside the platform code and solution will GET the data based on the name input, before defaulting to local
* Solution data layer sould be decoupled from the platform as a depdendency, suggested to use REST

So in the platform side, our changes would be passing in a unique name/id that the solutions can do a GET call.

[2021-07-27 09:48] sutjin opened #84 "Variation table not used"
The variation table is meant to keep the changes in the variables of the workbook. Currently we are defaulting to saving it to the workbook table and giving it a version number.

However, the version number does not mean we can go back to the previous data as it is overwritte.

Problem: Changes in the variation to be saved as a version entry in the DB so user can revert back to older variation whe

[2021-07-27 09:49] sutjin commented on #84
@brodavi this was the variation changes we notice when exploring the DB

@eethann is this a viable bug? not sure if the one implemented is intentional

[2021-07-27 09:51] #32 closed

[2021-07-28 14:17] sutjin commented on #28
@colleenskemp

there are two UX requirements thats missing to complete this ticket
1. How does the user enter help mode?
2. On first login, there needs to be an indicator on pressing next to show the next tooltip

imo, the helpmode needs to be in a separate ticket vs. first login - although both share the same tooltip component, theres going to be different workflow to allow it to show respectivel

[2021-07-28 14:39] eethann opened #85 "User can access a "manage resources" screen"
User can access a screen that lists all uploaded resources (TAMs, Adoption Data, and VMAs), and can change sharing settings (private, group, or public share). Also should allow users to delete.

[2021-07-28 14:50] eethann opened #86 "User can import published resources as private resources in their own "library""
Problem: if we allow users to "unpublish" resources, or allow shared resources to be mutable, then workbooks that rely on resources that have been unpublished might break.

Proposed solution: allow users to "import" (either manually or automatically) published resources into their own account when they use them.

This might result in a proliferation of copied data, so should be re-evaluated on imp

[2021-07-29 15:37] sutjin commented on #78
PR Opened https://github.com/ProjectDrawdown/global-research-platform/pull/88

[2021-07-30 16:38] #78 closed

[2021-08-07 08:47] ssmssam commented on #83
Hi,

I've made a PR for this which I think fixes the issue

[2021-08-07 10:19] ssmssam commented on #68
Is this still an issue? I could try picking things up fro mthe Python side if so

[2021-08-08 14:18] colleenskemp commented on #16
@litenull - What is the status of this ticket? Will further work be done here at this time?
I think we don't have further budget for this phase to continue this work as part of this scope.

[2021-08-08 14:18] #16 closed

[2021-08-08 14:19] colleenskemp commented on #15
We are out of budget to do further work on this during this phase.

[2021-08-08 14:19] #15 closed

[2021-08-08 14:21] #14 closed

[2021-08-08 14:28] colleenskemp commented on #28
@sutjin - Creating separate ticket for the help mode and focusing this ticket on the first login.
@ralphcutler - Can you pease help with first login UX - user communication. There should be communication to the user that they are being lead through a tutorial and an ability to move through it or close it out.

+ @Chukslord1 for visibility.

[2021-08-08 14:32] colleenskemp opened #93 "As a user, I can see a help text on hover while in help mode"
Problem:
As a user, I need help text that allows me to understand the application through a tutorial. The current state is a screenshot and doesn't look great.

Suggested UX:
In help mode, user can hover over an element and see help text.

Improvements needed to the UX:
Currently there is a small question mark icon in the left sidebar. This is small and not obvious about what it is. Are there UX i

[2021-08-08 23:05] becca-tiessen commented on #68
I can try to have a PR up this week for our side (needs some cleanup) and then you can take a stab at it for sure!

[2021-08-09 23:46] brodavi commented on #93
@Chukslord1 is reviewing some potential tour libraries, evaluating what the effort would be to coax them into performing "help mode" in addition to "tour mode"

[2021-08-09 23:56] brodavi commented on #28
@Chukslord1 is evaluating several tour libraries to determine how hard it would be to coax them into a "help mode"

[2021-08-16 19:31] Chukslord1 commented on #93
@colleenskemp @brodavi Estimated time: 6 hours

[2021-08-19 15:24] colleenskemp opened #97 "Comparison Matrix to determine Collaboratory Technical Platform"
Need: A comparison matrix that outlines the key requirements of the Collaboratory as expressed by Chad and outlined in the anticipated wireframes.

Some key needs include:
- user is able to upload files in a resilient system (cannot be easily taken down)
- access a shared database
- Forum and discussion capabilities
- The data remains open source, collectively "owned"
- User can access global rese

[2021-08-30 16:44] colleenskemp opened #99 "Wireframing for Health and Education UI"

[2021-09-10 05:40] sutjin opened #100 "Health and Education Navigation"
Time Estimate: 3 hours

As a User I would like to be able to navigate to the Health and Education Sector from the Navigation Bar

Figma: https://www.figma.com/file/LJl7Q9ffgq3TycEEltY98K/Health-and-Education-UI?node-id=25%3A170

Requirement:
* Health and Educatio option
* Option for Segments (separate from sectors)
* on click the sector to open a H&E dashboard (content will be blank for now, but U

[2021-09-10 05:45] sutjin opened #101 "Static data for Health and Education UI returned from client-side endpoint"
Time Estimate: 6 hours

As an Engineer, I would like to have static data returned from the API when opening the Health and Education Dashboard

Requirement;
* Dataset converted from the Health and Education sheet

[2021-09-10 05:50] sutjin opened #102 "Side Bar Navigation for Health and Education Dashboard"
Time Estimate: 4 hours

As a user, I want to be able to navigate through different tables of the Health and Education dashboard through the sidebar

Figma: https://www.figma.com/file/LJl7Q9ffgq3TycEEltY98K/Health-and-Education-UI?node-id=50%3A3576

Requirement:
* List of tables should come from the API
* on click, selected table to be rendered to the UI

[2021-09-15 08:05] #40 closed

[2021-09-15 08:05] #68 closed

[2021-09-15 08:06] #100 closed

[2021-09-16 02:42] becca-tiessen commented on #63
Hey I could take a stab at this one, are there specific example files that have been done already that I could reference?

[2021-09-16 13:32] litenull commented on #63
@becca-tiessen Hi! There is no example yet, but i think you could do something like this:

Example of component with state:

    const Component = () => {
      const workbook = useWorkbookSelector();
      return (
        <Section> {workbook.name} </Section>
      )
    }

What we need to do:

    const Component = ({ name }) => {
      return (
       <Section> {name} </Section>
      )
    }

[2021-09-20 19:59] colleenskemp opened #104 "Styling - Project Browse Page"
Time Estimate: @ochuko - will you please add in the estimate for this item in the comments?

See design link here: https://www.figma.com/file/hqCFFKf4aiA9An0yQsQilU/Collaboratory-Chakra-UI-Figma-Kit?node-id=959%3A9282

Acceptance criteria: This page must contain the following elements:
- In-app search bar
- Tag based filter (how much scope does this have? is this a must-have?)
- project listing wi

[2021-09-23 15:08] #44 closed

[2021-09-28 02:58] sutjin opened #106 "TAM Mix Inputs for H&E"
Time Estimate: 6

As an enginer I want to be able to view the TAM mix inputs for a given H&E Cluster

Figma: https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI---%5BFigma-Chakra-UI%5D?node-id=3207%3A131290

Note:
* input needs to be interactable, but results are not being pushed anywhere as of yet.

[2021-09-30 14:25] eethann opened #107 "Researcher can view Results Pane for each cluster"
Researchers should see the integration results for each cluster on the cluster detail page in the population section. See this frame in Figma mockup: https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI-[Figma-Chakra-UI]?node-id=3207%3A132653

Note that the current design is a rough placeholder using the existing spreadsheet, should be implemented using standard Chakra UI compon

[2021-09-30 14:28] eethann opened #108 "Researcher can see population data for all years for each REF scenario"
Researcher can see the data for the population scenarios chosen in a table on the population settings page.

**Acceptance Criteria:**
* Population scenario data should show for all years in each population model.
* Should show for each of the two population scenarios: REF1 (current projection) and REF2 (with health and education population)
* Should change when a different population scenario is c

[2021-10-10 15:14] sutjin opened #109 "TAM Market Chart"
Time Estimate: 9 hours

As a developer I want to show the TAM chart when I open a Health and Education cluster.

design: https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI---%5BFigma-Chakra-UI%5D?node-id=3307%3A135387

Requirement:
* TAM chart has 2 overlay. One is the selected cluster while the other is the SUM of all cluster

[2021-10-10 15:17] sutjin opened #110 "Cluster Table to be shown as a modal pop-up when expluring the result card"
Time Estimate: 6 hours

As an engineer, I want to be able to open a modal when we explroe more of the Result Health and Education Sector

Design: https://www.figma.com/file/QImAyi1guE4AICGMN7uODK/Drawdown-Portfolio-UI---%5BFigma-Chakra-UI%5D?node-id=3307%3A135387

Note:
* The question mark on the Result tablel to open a modal that shows cluster data set

[2021-10-11 14:22] colleenskemp opened #113 "Provide data for past years ref 1 & 2 for 6 data tables"
Need from the client for Health and Education UI work.

We need data for 6 data tables - we only have the current sheet. We need past years ref 1 and ref 2

[2021-10-11 14:49] colleenskemp opened #114 "data reflecting population change when a new case is selected"
As a user, I can see data for the different population cases in the table and the data changes when a new population case is selected

[2021-10-11 14:50] colleenskemp opened #115 "As a user, I can select ref 1 and ref 2 sources for the population"

[2021-10-30 18:51] colleenskemp opened #121 "Update to footer image"
Please update the footer with the mycelium image found here: https://drive.google.com/drive/u/0/folders/1_MEmQKLoKbG9lB-spqgAtBQSKtWr3MoX

This is a must have for the client share on Monday

[2021-11-01 17:35] colleenskemp commented on #113
We need to be able to showcase that you can change the ref through the UI. This will enable us to show that the data changes. We need alternate data sets.

[2021-11-15 16:32] colleenskemp opened #123 "Regression Testing - Electricity Generation Sector"
Need: We have to do a check of the electricity generation sector to make sure we haven't broken anything resulting from the last round of work.

Please conduct regression testing for the electricity generation sector.

[2021-11-15 16:45] colleenskemp opened #124 "Decimal point error in water heating result totals"
Steps to replicate:
1) Create new workbook
2) Add "water heating" solution to workbook
3) View water heating

In the results table, the convention total has to many decimal spaces

<img width="1280" alt="Screen Shot 2021-11-15 at 10 42 53 AM" src="https://user-images.githubusercontent.com/20732309/141820645-101a1c27-1c26-4936-8f77-dd59500881fd.png">

[2021-11-15 16:52] colleenskemp opened #125 "Heading is cut off for calculation outputs data table"
Steps to replicate:

1) Create workbook and add water heating solution
2) Select help button in results table

"CALCULATION OUTPUTS AND INTEGRATION DATA TABLES" heading is cut off.

Testing location: 13 inch mac book pro/ chrome

<img width="1280" alt="Screen Shot 2021-11-15 at 10 49 07 AM" src="https://user-images.githubusercontent.com/20732309/141821736-6aa5e1c7-4f5b-48d0-82d4-64bf33796235.png">

[2021-11-15 16:57] colleenskemp opened #126 "Design QA: All expected tables and components are reflected with pleasing look & feel"
Link to design: https://www.figma.com/file/LJl7Q9ffgq3TycEEltY98K/Health-and-Education-UI?node-id=53%3A4586

This is a catch-all ticket requesting a check that all they key blocks/ components are present. These charts will likely not match design, but should be there and looking good. Please use your judgement if something is not looking right or good to you. Please create tickets for design impro

[2021-11-15 17:06] colleenskemp opened #127 "Population Reference Drawer cut off"
When viewing the health and education population table, I can only see part of the population reference tab drawer on right.

Testing location mac book pro 13 inch/ chrome

See image:
<img width="1278" alt="population reference drawer cut off" src="https://user-images.githubusercontent.com/20732309/141823893-e02cf53e-edb7-4777-830b-b60d1673a43c.png">

[2021-11-15 17:17] colleenskemp opened #128 "QA - Confirm TAM Mix is correct across solutions"
Please ensure TAM Mix table items are correct across solutions.

Compare population sheet: https://docs.google.com/spreadsheets/d/16-5LT39ElpYS3st0y9vR7b3vxOBBRRCI/edit?usp=sharing&ouid=116246822588517777536&rtpof=true&sd=true

with

Staging: https://stage.pdd.colab.coop (create your own test workbook)

Check the following solutions:
* electricity
* space heating
* space cooling
* water heating
*

[2021-11-15 17:37] #109 closed

[2021-11-15 19:34] MamtaMehra commented on #113
[WPP2015_POP_F01_1_TOTAL_POPULATION__PDrevised_v3_01-14-2021.xlsx](https://github.com/ProjectDrawdown/global-research-platform/files/7541249/WPP2015_POP_F01_1_TOTAL_POPULATION__PDrevised_v3_01-14-2021.xlsx)

[2021-11-17 14:35] #124 closed

[2021-11-22 13:10] shrutimehta13 opened #133 "Workbook view/edit not scrollable to view/select all sectors & clusters"
1. Create a New workbook
2. Observe Portfolio selection > page is scrollable and all visible

<img width="1304" alt="Screenshot 2021-11-22 at 6 37 44 PM" src="https://user-images.githubusercontent.com/34771314/142867224-9fcd1b0d-54e6-4634-9209-ef2ab0f8b95e.png">
3. Save selection
4. now observe workbook page or choose to ediT

Observed:
No scrollbar
<img width="1296" alt="Screenshot 2021-11-22 at

[2021-11-22 13:11] shrutimehta13 commented on #126
Navigation drawer has links to Population and Emission factors. Pl check following points  @colleenskemp @sutjin  for ticket closure. Let me know if i should create new tickets

1. Some tables missing in both as compared to design.  (marked)
2. Naming convention of emission reports also vary as compared to design  (marked)
<img width="1440" alt="Screenshot 2021-11-22 at 4 39 50 PM" src="https://us

[2021-11-22 13:15] shrutimehta13 commented on #128
tested TAM MIX items for solutions mentioned. They are correctly included with correct % as mentioned in https://docs.google.com/spreadsheets/d/16-5LT39ElpYS3st0y9vR7b3vxOBBRRCI/edit?skip_itp2_check=true#gid=1229988975

Integration (Include in Conventional/Ignore) default was correct for all except Space heating. Please check if it needs attention. else the ticket can be closed @colleenskemp
<img

[2021-11-22 17:31] #106 closed

[2021-11-22 17:32] #110 closed

[2021-11-23 21:53] eethann commented on #123
I suspect these issues are independent of the H&E UI, but are still notable. First is a "should have", the upload button also looks off in alignment, the period of the lifetimes savings graph is a must fix.

[2021-11-23 22:12] eethann opened #130 "Electricity Generation Graphs show TWh label overlapping numbers"
See image and description in #123

[2021-11-23 22:14] eethann commented on #130
Assigning to @colleenskemp to prioritize (could be in backlog for now)

[2021-11-23 22:15] eethann opened #131 "Upload TAM buttons misaligned in Electricity Gen techs"
The upload button for the TAMs is not aligned the same way as the upload button for the Adoption scenarios. Both should either be aligned to the dropdown widget, or both to the combined field element (label and widget together). Currently the TAM is aligned to the field element, adoption to the widget.

[2021-11-23 22:16] eethann commented on #131
![image](https://user-images.githubusercontent.com/7461/143137798-3507bb0d-9a24-43ce-93cc-07dd22ab27ee.png)

[2021-11-23 22:18] eethann commented on #130
![](https://user-images.githubusercontent.com/34771314/142898304-ed029053-7730-41be-a1e6-ee009f12bb9f.png)

[2021-11-23 22:19] eethann opened #132 "Duration of Lifetime Savings graph does not match period of study"
See #123 for more information. The Lifetime Savings graph is showing many years past the end of the study, so is declining when it should not.

[2021-11-23 22:19] eethann commented on #132
![](https://user-images.githubusercontent.com/34771314/142899448-55532452-3bd1-4c1a-af41-87a4ddb1a2f9.png)

[2021-11-23 22:20] eethann commented on #132
This one is a must fix.

[2021-11-23 22:20] eethann commented on #131
Assigning to @colleenskemp to prioritize.

[2021-11-23 22:21] eethann commented on #123
Moved to #130 , #131 , and #132

Closing this ticket.

[2021-11-23 22:21] #123 closed

[2021-11-23 22:24] eethann commented on #133
Confirmed that this is an error.

[2021-11-23 22:37] eethann commented on #128
Assigning to @sutjin to review and confirm.

[2021-11-23 22:39] eethann commented on #126
I think this is best assigned to @chadfrisch or @MamtaMehra to review with actual data. Assigning to @sutjin to take a first pass at confirming. The initial wireframes were not made with full data.

[2021-11-23 22:41] eethann commented on #108
@shrutimehta13 has this completed QA?

[2021-11-23 22:41] eethann commented on #125
@sutjin is this ready for @shrutimehta13 to review?

[2021-11-23 22:42] eethann commented on #101
@sutjin is this ready for @shrutimehta13 to review?

[2021-11-23 22:42] eethann commented on #101
@sutjin is this ready for @shrutimehta13 to review?

[2021-11-24 11:51] shrutimehta13 commented on #108
@colleenskemp Population data is available under Health & Education.
All tables show data as per excel sheet https://docs.google.com/spreadsheets/d/16-5LT39ElpYS3st0y9vR7b3vxOBBRRCI/edit?skip_itp2_check=true#gid=1194660297

1. Naming conventions need to be checked for Heading and report name (varies from design)
2. %change reports also not implemented as shown in design and in excel sheet
<img wid

[2021-11-25 09:25] shrutimehta13 commented on #107
Results table in excel sheet is blank for many cluster. @colleenskemp Please confirm if values need to be confirmed?
verified for Space Heating.

notes-
1. Heading & subheading of results table is missing
2. Graph has been moved down below data charts as per above comment. see a typo error in conventional

[2021-11-25 12:37] shrutimehta13 commented on #26
on browser widths <1600px (most desktops)
<img width="909" alt="Screenshot 2021-11-25 at 6 03 40 PM" src="https://user-images.githubusercontent.com/34771314/143442793-848e1049-a82d-40fb-874f-9d8ebf66b037.png">

[2021-11-25 13:06] shrutimehta13 commented on #133
@colleenskemp issue is after saving a workbook, we are not able to add/remove solutions as the page is not scrollable and hence not selectable by user. This is a Must Fix.

[2021-12-06 16:15] colleenskemp opened #135 "Too much workbook description text breaks styling"
As a user, if I add a lot of notes if my workbook description, it breaks the page styling. Notes are extended outside of the workbook teaser component. Text goes outside page container.
Workbook teasers should cut off text after a certain number of characters or limit the characters a user can add.

[2021-12-06 16:36] colleenskemp opened #136 "Res Light and Com light graphs displaying error in clusters view"
Issue:
Both res light and com light are showing the same error in their graph:

1) No data is shown on the graph
2) The y axis is cut off

<img width="1280" alt="Screen Shot 2021-12-06 at 10 41 08 AM" src="https://user-images.githubusercontent.com/20732309/144886053-b94f3dfa-81b5-49ca-b4a1-125e37893867.png">

[2021-12-06 16:51] colleenskemp opened #137 "Cluster view: Results table: "convention" is being cut off off"
When viewing space heating cluster, results section, "convention" is cut off on many screen sizes (excepting extra large).

Convention is cut off when viewing on my macbook pro 13 inch.

<img width="518" alt="Screen Shot 2021-12-06 at 10 45 31 AM" src="https://user-images.githubusercontent.com/20732309/144888456-d1081edf-4cce-415b-a69d-99173ba72318.png">

[2021-12-06 17:56] #130 closed

[2021-12-07 11:59] shrutimehta13 commented on #132
year period corrected in lifetime graph.

here /technologies/concentratedsolar showing Nan and declining graph @eethann that could be a separate issue
<img width="905" alt="Screenshot 2021-12-07 at 4 50 01 PM" src="https://user-images.githubusercontent.com/34771314/145025064-d1c44423-5648-4ac6-9c4e-f8603e07d736.png">

[2021-12-15 11:12] sutjin commented on #136
Data has beenf ixed @colleenskemp please refer to the new worksheet that Mamta has sent via email for verification

[2021-12-15 13:59] colleenskemp commented on #133
Okay - I think this was a regression. @sutjin - will you please take a look?

[2021-12-15 14:06] colleenskemp commented on #113
Hey @sutjin! Looks like Mamta added the data and then closed the ticket and this data got lost from there. But we have it!  Passing this back to you.

[2021-12-15 14:09] colleenskemp commented on #114
@sutjin - We have the data we need for this! Please see attachment in mamta's comment in ticket: Provide data for past years ref 1 & 2 for 6 data tables #113 (left open and assigned to you). Please close when you have the data needed.

[2021-12-15 14:13] colleenskemp commented on #128
This is looking correct to me. Closing ticket.

[2021-12-15 14:13] #128 closed

[2021-12-15 14:14] #126 closed

[2021-12-15 14:14] colleenskemp commented on #115
Closing this ticket as a duplicate

[2021-12-15 14:14] #115 closed

[2021-12-15 14:18] colleenskemp opened #138 "Data cut off in Assumptions"
This can be seen in across solutions in the assumptions section.

[2021-12-15 14:26] #26 closed

[2021-12-15 14:29] colleenskemp commented on #107
@sutjin - can you advise about the missing data in the excel for clusters such as electricity?

Please correct the spelling error beneath the chart.

[2021-12-15 14:31] #108 closed

[2021-12-15 14:32] #137 closed

[2021-12-15 14:33] #136 closed

[2021-12-15 14:34] #125 closed

[2021-12-15 14:35] colleenskemp commented on #101
QA for this has been completed. Tracked in other tickets.

[2021-12-15 14:35] #101 closed

[2021-12-15 14:35] #127 closed

[2021-12-15 14:36] #102 closed

[2021-12-17 05:16] sutjin commented on #107
@colleenskemp I verified the data with the sheet Mamta has sent on an email to us (CORE_PopulationChange_Oct13_PostIntegration) and the data is now updated

[2021-12-17 20:20] shrutimehta13 commented on #133
tested here https://stage.pdd.colab.coop/  [Edit portfolio] with existing and new workbooks and it does not work still.

[2021-12-20 13:33] sutjin commented on #133
weird, let me try to redeploy and see what's going on

[2021-12-20 13:43] sutjin commented on #133
redeploying seems to fixed it, please double check :)

[2021-12-20 20:15] shrutimehta13 commented on #133
fixed

[2021-12-22 20:32] sutjin commented on #114
inside the population metadata there is a dropdown to select between population data set. the dataset will reflect changes to the clusters.

Core -  [https://docs.google.com/spreadsheets/d/1zaGycRVLoSRvAhGlGUsJC-lzvoqwDvKp/edit?usp=sharing&ouid=100717719801399234748&rtpof=true&sd=true](url)
WPP2015 - [https://docs.google.com/spreadsheets/d/1nf4L0aqsdOJHiZo_TMpz7oPzOMoRvece/edit?usp=sharing&ouid=10

[2021-12-22 20:32] sutjin commented on #114
inside the population metadata there is a dropdown to select between population data set. the dataset will reflect changes to the clusters.

Core -  [https://docs.google.com/spreadsheets/d/1zaGycRVLoSRvAhGlGUsJC-lzvoqwDvKp/edit?usp=sharing&ouid=100717719801399234748&rtpof=true&sd=true](url)
WPP2015 - [https://docs.google.com/spreadsheets/d/1nf4L0aqsdOJHiZo_TMpz7oPzOMoRvece/edit?usp=sharing&ouid=10

[2022-01-26 14:42] colleenskemp opened #140 "Confirm data against most updated population model"
Here is the link to the most updated version of this model: https://docs.google.com/spreadsheets/d/1oHoF3CjCBDg-mB4T5T5prrvCJBohbwOd/edit#gid=930411356

As part of this ticket, please note and address any divergences.

[2022-01-26 14:44] colleenskemp opened #141 "Implement remaining clusters for H&E"
Here is the most updated sheet: https://docs.google.com/spreadsheets/d/1oHoF3CjCBDg-mB4T5T5prrvCJBohbwOd/edit#gid=930411356

Paper
Water
Plastics
Passenger by km
Freight nautical
Freight ground
Air
Food demand (nothing happens, but it should be shown)

[2022-01-29 08:01] sutjin commented on #140
@colleenskemp reviewed the data and it looks like I have been using the right file

For when we toggle with another population sheet, I basically replace the value of the population and see what the sheet outputs since they are linked. So there is no reference for that, only the population sheet that Mamtha has provided in the previous ticket.

However I do notice 2 things that I missed:
* Clean C

[2022-01-29 09:11] sutjin commented on #140
PR: https://github.com/ProjectDrawdown/global-research-platform/pull/142

[2022-01-31 18:46] colleenskemp opened #143 "Issues with viewing Emissions and Population views in Health and Education UI"
Population and Emissions Factors views from the Health and Education UI are not showing data.

[2022-02-03 16:55] colleenskemp opened #144 "Implement clusters as megamenu"
This will be implemented with the revert back to H&E technology operating as the others do.

estimated 5 hours

[2022-02-03 16:56] colleenskemp opened #145 "Design Mock - figma WF of summary/ homepage for Health and Education"
2 hours

Please use summary tab as guide
Emissions factors and population should show on this page rather than appear on their own pages.

[2022-02-03 16:57] colleenskemp opened #146 "Implement Health and Education summary/ homepage"

[2022-02-03 16:57] colleenskemp opened #147 "As a user, I view health and education as a technology"

[2022-02-03 16:57] colleenskemp commented on #141
estimated at 2 hours

[2022-02-07 13:03] sutjin commented on #145
@colleenskemp I think I got a good first pass on it

https://www.figma.com/file/yOENtq2xGAk102Hlu4AKZK/Drawdown-Portfolio-UI---%5BFigma-Chakra-UI%5D-(Copy)?node-id=3207%3A131290

I had to clone the workbook because I didn't have access to edit. Can copy the design over once we are set

[2022-02-07 17:50] colleenskemp opened #148 "Add breadcrumb to megamenu when user is in cluster detail view"
This is an update to what we see in the design mock

breadcrumb to allow for smoother UX.

[2022-02-28 17:54] colleenskemp opened #151 "Small tweaks to H&E summary page"
1) Remove white space under the H&E megamenu
2) Reduce the size of the CO2-EQ-avoided table and make the summary charts 3 up.

[2022-03-02 16:47] colleenskemp opened #154 "Clean up GT-CO2-EQ AVOIDED chart"

[2022-03-02 16:52] colleenskemp opened #155 "Updates to clusters graph visualization"
Please make the below updates to the charts found in the H&E clusters:

Acceptance criteria:

1) Only LLDC and MCD in Conventional should display. "In solution" data shouldn't be used at this time.

2) Please show both conventional data sets in stacked visualization, consistent with graph shown in summary chart.

[2022-03-07 18:19] colleenskemp commented on #154
Will you checkin on the duplication of the space heating in this chart?

[2022-03-07 18:28] colleenskemp commented on #154
Plastics should show as "all" because the data is combined.

[2022-03-07 18:31] colleenskemp commented on #151
Change to Air, Oceanic, Frieght and Plastic to "non differentiated."

[2022-03-07 18:32] colleenskemp commented on #151
Updates to colors as shown in the summary graph